header{
    background-color: #e6e6e6;
}

h1{
    color: #005677;
    background-color: #C4C4C4;
    font-weight: 29.87px;
}
.titulares{
    color: #005677;
    background-color: #C4C4C4;

}
footer{
    background-color: #005677;
}
#pie{
    color: white;
}